.body {
    background-color: #2F4F4F;
    text-align: center;
    
}

.container {
    margin: 50px auto;
    width: 80%;
}

.title {
    background-color: #3B1F1F;
    color: white;

    padding: 15px;
    border-radius: 5px;
}

.box-container {
    margin: 20px auto;
    width: 70%;
    border: 5px solid red;
    padding: 20px;
}

.box {
    background-color: #20C997;
    padding: 20px;
    margin: 10px;
    border: 5px solid black;
}
